@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --radius: 8px;
  --border: 210, 20%, 95%;
  --input: 220, 13%, 18%;
  --ring: 220, 13%, 20%;
  --background: 0, 0%, 100%;
  --foreground: 220, 14%, 96%;
  --primary-foreground: 0, 0%, 100%;
  --secondary: 214, 15%, 91%;
  --secondary-foreground: 220, 15%, 20%;
  --destructive: 0, 65%, 47%;
  --destructive-foreground: 0, 0%, 100%;
  --muted: 220, 14%, 96%;
  --muted-foreground: 220, 15%, 20%;
  --accent: 34, 100%, 50%;
  --accent-foreground: 0, 0%, 100%;
  --popover: 220, 14%, 96%;
  --popover-foreground: 220, 15%, 20%;
  --card: 0, 0%, 100%;
  --card-foreground: 220, 14%, 96%;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
